*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
body{
    background-color: rgb(167, 120, 211);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3p 3px 5px black;
    padding: 10px;
}

h1 {
    font-size:35px;
    text-align: center;
}

img.lado {
    float:right;
}